body.dark-mode {
	--color-primary-text: var(--brand-primary-100);
	--color-primary-bg: var(--brand-primary-600);
	--color-primary-bg-hover: var(--brand-primary-500);
	--color-primary-muted: var(--brand-primary-800);

    --color-secondary-text: var(--gray-100);
    --color-secondary-bg: var(--gray-800);
    --color-secondary-border: var(--gray-700);

	--color-success-text: var(--brand-success-100);
	--color-success-bg: var(--brand-success-800);
	--color-success-bg-hover: var(--brand-success-600);
	--color-success-muted: var(--brand-success-500);

	--color-error-text: var(--brand-error-100);
	--color-error-bg: var(--brand-error-600);
	--color-error-bg-hover: var(--brand-error-500);
	--color-error-muted: var(--brand-error-800);

	--color-warning-text: var(--brand-warning-100);
	--color-warning-bg: var(--brand-warning-600);
	--color-warning-bg-hover: var(--brand-warning-500);
	--color-warning-muted: var(--brand-warning-800);

	--color-text: var(--gray-100);						/* Primary text color (headings, paragraphs, main content) */
	--color-btn-text: var(--gray-100);					/* Text color on dark or colored buttons */
	--color-placeholder: var(--gray-400);				/* Placeholder text color in input fields */

	--color-background: var(--gray-900);				/* General app background color (main page or container background) */
	--color-background-surface: var(--gray-900);		/* Background for secondary surfaces, like section backgrounds or less prominent areas */
	--color-surface: var(--gray-800);					/* Background for primary surfaces (cards, modals, main containers that are white) */
	--color-background-elevated: var(--gray-800);		/* Background for elevated elements relative to the base background, e.g. dropdowns, tooltips, floating menus */
	--color-background-overlay: rgba(0, 0, 0, 0.6);		/* Semi-transparent overlay background (modals, menus that block the background) */
	--color-background-input: var(--gray-700);			/* Background for input fields and form elements */
	--color-background-input-focused: var(--gray-800);  /* Background for input fields and form elements when focused */
	--color-border: var(--gray-600);					/* Color for borders, dividers, and separators */
}
